
menu "Motion Sensors Support"


config MPU_SENSORS_MPU3050_HTC
    tristate "MPU3050"
    help
      If you say yes here you get support for the MPU3050 Gyroscope driver
      This driver can also be built as a module.  If so, the module
      will be called mpu3050.


choice
    prompt "Accelerometer Type"
    depends on MPU_SENSORS_MPU3050_HTC
    default MPU_SENSORS_BMA250_HTC

config MPU_SENSORS_KXTF9_HTC
    bool "Kionix KXTF9"
    help
      This enables support for the Kionix KXFT9 accelerometer

config MPU_SENSORS_BMA250_HTC
    bool "Bosch BMA250"
    depends on MPU_SENSORS_MPU3050_HTC
    help
      This enables support for the Bosch BMA250 accelerometer

endchoice



choice
    prompt "Compass Type"
    depends on MPU_SENSORS_MPU6000 || MPU_SENSORS_MPU3050_HTC
    optional

config MPU_SENSORS_AK8975_HTC
    bool "AKM ak8975"
    help
      This enables support for the AKM ak8975 compass

endchoice

config MPU_SENSORS_TIMERIRQ_HTC
    tristate "Timer IRQ"
    help
    If you say yes here you get access to the timerirq device handle which
    can be used to select on. This can be used instead of IRQ's, sleeping,
    or timer threads. Reading from this device returns the same type of
    information as reading from the MPU and slave IRQ's.

config MPU_SENSORS_DEBUG_HTC
    bool "MPU debug"
    depends on MPU_SENSORS_MPU3050_HTC || MPU_SENSORS_MPU6000 || MPU_SENSORS_TIMERIRQ_HTC
    help
      If you say yes here you get extra debug messages from the MPU3050
      and other slave sensors.

endmenu

